body {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  font-family: sans-serif;
}

/* header */

#header ul {
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  text-transform: uppercase;
  background-color: black;
  position: fixed;
  width: 100%;
  opacity: 0.8;
  font-size: 1.5em;
  padding: 0%;
}

#header ul li {
  float: left;
  padding: 1%;
}

#header ul li a {
  color: whitesmoke;
  text-align: center;
  padding: 0px 0px 0px 87px;
  text-decoration: none;
}

#header .dropdown {
  display: none;
}

/* section 1 */

#starwars {
  padding: 5% 15% 0% 15%;
}

#starwars > article {
  float: left;
  margin: 10px;
}

#starwars article {
  width: 42%;
  font-size: 1.8em;
}

#starwars article img {
  padding-left: 20%;
}

#starwars img {
  width: 100%;
}

#kiloren {
  width: 100%;
}

#storm {
  width: 100%;
  height: 300px;
}

/* section 2 */

#galaxy {
  margin: 3% 0% 3% 0%;
}

#galaxy h2 {
  text-align: center;
  font-size: 4em;
}

#galaxy div {
  margin: 3% 16% 0% 12%;
}

#galaxy article div > img {
  float: left;
  margin: 10px;
}

#galaxy article div p {
  font-size: 1.8em;
}

#galaxy article div img {
  width: 37%;
  margin: 0%;
  padding-right: 5%;
}

/* footer */

#footer ul {
  list-style-type: none;
  padding-left: 19%;
  overflow: hidden;
  float: left;
}

#footer ul li a {
  display: block;
  padding: 14px 16px;
  color: silver;
}

#footer :last-child img {
  width: 20%;
  padding: 10% 5% 0% 5%;
}

footer {
  background-image: url(../Assets/darthvader_2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 0%;
  width: 100%;
  height: 340px;
  color: silver;
  margin-top: -1%;
  text-align: center;
}

footer div {
  padding: 5% 0% 3% 0%;
}

#footer .icon {
  padding-top: 1%;
}

.parallax-window {
  min-height: 400px;
}

/* RWD tablet */

@media only screen and (max-width: 1024px) {

  #header .dropdown {
    display: inline;
  }

  .dropbtn {
    background-color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: right;
    position: fixed;
    width: 5.4%;
    opacity: 0.8;
    margin: 0;
    padding: 2% 4% 2% 91%;
  }

  .dropdown {
    position: relative;
  }

  #myDropdown img {
    padding: 2% 90% 0% 0%;
  }

  .dropdown-content {
    text-align: center;
    display: none;
    position: fixed;
    background-image: url(../Assets/header-bg.png);
    min-width: 1024px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .show {
    display: block;
  }

  #header ul {
    display: none;
  }
  #header #menu {
    display: inline;
    width: 54vw;
    text-align: right;
    position: relative;
    display: inline-block;
  }
  #footer ul {
    list-style-type: none;
    padding-left: 20%;
    overflow: hidden;
    float: left;
  }

  #footer ul li a {
    display: block;
    padding: 14px 16px;
    color: silver;
  }

  #footer .icon {
    display: flex;
    width: 55%;
  }

  #footer .icon li {
    width: 100%;
    text-align: left;
    padding-top: 2%;
  }

  #footer :last-child img {
    width: 10%;
    padding: 0% 5% 0% 0%;
  }

  #header ul li {
    float: left;
  }

  #header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #starwars {
    padding: 0% 5% 0% 5%;
  }

  #starwars article {
    width: 100%;
    text-align: center;
  }

  #starwars article img {
    display: none;
  }


  #storm {
    width: 100%;
    height: 300px;
  }
  #galaxy {
    margin: 2% 20% 3% 20%;
  }

  #galaxy h2 {
    text-align: center;
  }

  #galaxy div {
    margin: 0% ;
  }

  #galaxy article div img {
    width: 100%;
    padding: 0% 0% 5% 0%;
  }

  #galaxy article .text {
    display: none;
  }
  footer div {
    display: none;
  }

  .parallax-window {
    width: 100%;
  }
}

/* RDW mobile */

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .dropdown-content {
    min-width: 414px;
  }

  #myDropdown img {
    padding: 3% 84% 0% 0%;
    width: 6%;
  }

  
  #starwars article {
    font-size: 1em;
  }

  #starwars article{
      width: 94%;
  }

  #kiloren {
    height: 200px;
  }

  #galaxy {
      margin : 2% 16% 3% 16%;
      width: 60%;
  }

  #galaxy h2 {
    font-size: 2em;
  }

  #galaxy div {
    font-size: 0.5em;
  }

  #galaxy article div img {
    width: 100%;
    margin: 0% 0% 6% 0%;
  }
  #galaxy article div p {
    width: 100%;
  }
  .parallax-window {
    width: 100%;
    min-height: 140px;
  }

  #footer ul {
    padding: 18% 0% 0% 0%;
    width: 50%;
    font-size: 50%;
  }

  #footer .icon {
    width: 100%;
    padding-top: 10%;
  }

  #footer .icon li {
    width: 53%;
    text-align: center;
    padding-top: 3%;
  }
  #footer :last-child img {
    width: 8%;
  }
}
